@import 'config';


.body{
    color: white;
}


.container{
    background-color: $secondary-color;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end];
    grid-template-rows: 40px auto 40px;
    //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));//autofit and minmax
    //grid-template-rows: repeat(2, 100px);
    //grid-template-rows: 100px 100px;//implicit rows
   // grid-auto-rows: 100px;

   /* grid-template-columns: repeat(3,1fr); /*previous numbers: 100px 1fr*/ 
    /*grid-template-rows: repeat(2,50px); /*previous numbers 500px*/
    /*grid-gap: 3px;*/

   /* height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 40px auto 40px; /*auto to take whatever space is left*/
  /*  grid-template-areas: 
    "h h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f f";*/
}


.header{
    background-color: $forth-color;
    grid-column: min-start / min-end;
//grid-area: h;
    /*grid-column: 2/-1;
    
    grid-column-start: 1;
    grid-column-end: ;*/
}

.menu{
    background-color: $secondary-color;
/*    grid-row: 1/3;*/
//grid-area: m;
//grid-column: min-start / min-end;

}

.content{
    background-color: $forth-color;
    //grid-column: content;
    grid-area: content;
    /*
    grid-column: 2/-1;
    */
    //grid-area: c;
}

.footer{
    background-color: $third-color;

    grid-column: min-start / min-end;
    /*
    grid-column: 1/-1;*/
    //grid-area: f;

}

h1{
    color:black;
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.list{
    padding-left: 0;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;

    hover{
        background-color: burlywood;
    }
}

